**/target
**/log
**/bin
**/.scannerwork/**
**/.idea/**
*.log
**/*.classpath
**/.factorypath
**/*.project
**/.settings
*.iml
*.pdf
**/coverage-merged
*.eml
*.bak
**/.DS_Store
**/logs
**/.vscode
**/.flattened-pom.xml
